.fzt-background {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.steve {
  font-family: abril fatface, sans-serif;
  font-size: 2em;
  
}

.fa-facebook-square {
  color: gray;
}

.footer-link {
  color: gray;
}

.fzt-quote {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 5rem;
  font-size: 1.75em;
}

footer {
  background-color: gainsboro;
}